body {
    background-color: #81b3bb;
    ;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

li {
    float: left;
    padding-right: 2rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


/* Header Styles */

header {
    display: inline block;
    color: #f3f7f4;
    font-size: 1rem;
    padding: 1.6rem 0;
}

h1 {
    font-size: 2.5rem;
    color: black;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    color: black;
}

/* Layout */

nav {
    background-color: #f3f7f4;
    font-size: 1rem;
}

/* Body*/

.Intro {
    border: 15rem;
    border-radius: 1rem;
    background: #f3f7f4;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Intro img {
    border-radius: 50%;
    background-color: rgb(230, 188, 19);
}

.Projects img {
    display: flex;
    justify-content: flex-end;
    height: 20rem;
    width: auto;
}

.ProjectLinks {
    padding: 5rem;    
    background-color: #f3f7f4;
    border: 1px solid black;
}

.ProjectLinks img {
    width: 10rem;
}

form {
    color: black;
}
/* Footer */

footer {
    background-color: #f3f7f4;
    border: 1px solid black;
}

.socials img {
    height: 2rem;
    width: auto;
}


@media (min-width: 600px) {
    header {
        height: 70px;
    }

    h1 {
        color: aliceblue;
        display: flex;
        justify-content: center;
    }

    nav {
        float: left;

    }

    img {
        width: 40%;
        margin: 2%;
    }
}